<div class="content">
    <div class="group">
      <h1>Master Configurations</h1>
      <hr />
      <mat-card class="item">
        <mat-card-title>
          Organization Heirarchy
        </mat-card-title>
      </mat-card>
      <mat-card class="item">
        <mat-card-title>
          Organization Unit
        </mat-card-title>
      </mat-card>
      <mat-card class="item">
        <mat-card-title>
          Membership Type
        </mat-card-title>
      </mat-card>
      <mat-card class="item">
        <mat-card-title>
          Membership Status
        </mat-card-title>
      </mat-card>
      <mat-card class="item">
        <mat-card-title>
          Organization Role
        </mat-card-title>
      </mat-card>
    </div>

    <div class="group">
      <h1>User Configurations</h1>
      <hr />
      <mat-card class="item">
        <mat-card-title>
          Add User
        </mat-card-title>
      </mat-card>
      <mat-card class="item">
        <mat-card-title>
          User Roles
        </mat-card-title>
      </mat-card>
      
    </div>
  </div>